
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

*{
    font-family: "Poppins";
    text-align: center;
}
ion-content{
    text-align: center;
}
ion-toolbar{
    background-color: rgb(97, 176, 212);
}
ion-title{
    color: var(--first-color-ligth);
}
ion-text{
    
    text-decoration: overline;
    font-size: 2rem;
    color: rgb(25, 75, 98);
}
.texto{
    background-color: var(--ion-color-mycolor);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
strong{
    text-align: right;
    font-size: 10px;
}
ion-card{
    margin: 1px;
}