<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Actualizar</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" name="txNombre" [(ngModel)]="producto.nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" name="txPrecio" [(ngModel)]="producto.precio" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Stock</ion-label>
      <ion-input type="number" name="txStock" [(ngModel)]="producto.stock" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="updateProducto()" expand="block" color="success">Actualizar</ion-button>
      </ion-col>
    </ion-row>
    
  </form>
</ion-content>

