@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    font-family: "Poppins";
}
ion-toolbar{
    background-color: rgb(97, 176, 212);
}
ion-title{
    color: #fff;
    text-align: center;
}
.link{
    padding: 15px;
    text-align: center;
}
ion-button{
    background-color: rgb(97, 176, 212);
}
ion-label{
    font-family: "Poppins";
}