<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID #{{ producto.id}}</ion-card-subtitle>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Precio: <strong>{{producto.precio}}</strong></ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Cantidad: <strong>{{producto.stock}}</strong></ion-label>
      </ion-item>
    </ion-card-content> 
    <div class="btn">
      <div class="">
        <ion-button [routerLink]="['/modificar-productos',producto.id]" color="warning"><ion-icon name="create"></ion-icon></ion-button>
      </div>
      <div class="">
        <ion-button [routerLink]="['/eliminar-productos',producto.id]" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
      </div>
    </div>
  </ion-card>
</ion-content>
