.btn{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    font-family: "Poppins";

}
ion-content{
    text-align: center;
}
ion-toolbar{
    background-color: rgb(97, 176, 212);
}
ion-title{
    color: var(--first-color-ligth);
}